:root {
    --primary_blue: #131524;
    --header_font: 'Lato', sans-serif;
    --body_font: 'Manjari', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--header_font);
}

body a {
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

.right {
    float: right !important;
}

.section_padding {
    padding-left: 10em;
    padding-right: 10em;
}

.btn_default {
    border: 2px solid var(--primary_blue);
    font-size: 18px;
    color: var(--primary_blue);
    background-color: #fff;
    transition: all 0.5s ease;
    padding: 0.3em 1em;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
    outline: none;
}

.btn_default_alt {
    border: 2px solid #fff;
    font-size: 18px;
    color: #fff;
    background-color: var(--primary_blue);
    transition: all 0.5s ease;
    padding: 0.3em 1em;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
    outline: none;
}

.btn_default:hover {
    background-color: var(--primary_blue);
    color: #fff;
}

.carousel-wrap {
    border: none;
}


#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: -75px 0 0 -50px;
    border-radius: 50%;
    border: 3px solid var(--primary_blue);
    border-top: 3px solid #3498db;
    animation: spin 0.9s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        border-top-color: #3498db;
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#hero {
    display: none;
}

/*navbar*/
nav{
    padding: 1em;
    position: fixed;
    width: 100%;
    background-color: var(--primary_blue);
    box-shadow: 1px 5px 30px 3px rgb(19, 21, 36);
    z-index: 1;
}

.nav_link_holder{
    float: right;
}

nav a{
    color: #3498db;
}

.open_btn{
    display: none;
    float: right;
    color: #fff;
    font-size: 30px;
    margin-top: -11px;
    margin-right: 10px;
}

.w_mobile_nav{
    width: 0;
    position: fixed;
    height: 100vh;
    background-color: rgba(0,0,0, 0.9);
    top: 0;
    left: 0;
    transition: 0.5s;
    overflow-x: hidden;
    z-index: 1;
}

.mobile_nav_content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.mobile_nav_content a{
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.w_mobile_nav .close_btn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/*hero*/
.w_hero {
    min-height: 100vh;
    background: var(--primary_blue);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.w_hero_inner {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.w_hero_content {
    color: #fff !important;
    text-align: center;
    padding: 0 10px;
}

.w_hero_content h1 {
    font-size: 50px;
    font-weight: bold;
}

.w_hero_content p {
    font-size: 20px;
}

.w_hero_content a {
    font-size: 40px;
    color: #fff;
}

.angle_down {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 40px;
    margin-top: 1em;
    animation-iteration-count: infinite;
}


/*about page*/
.w_about h2,
.w_contact h2,
.w_events h2 {
    color: var(--primary_blue);
}

.w_about p,
.w_contact p,
.w_events p {
    font-size: 18px;
}

.carousel-wrap .item img {
    width: 100%;
}

.w_about_text_holder{
    display: flex;
    align-items: center;
    min-height: 59vh;
}

/*contact section*/
.w_contact_form_item i {
    color: var(--primary_blue);
}

.w_contact_form_item input {
    border: none;
    border-bottom: 2px solid darkgrey;
    width: 80%;
    padding: 3px;
    background: transparent;
    font-size: 17px;
    outline: none;
}

.w_contact_form_holder textarea {
    width: 100%;
    min-height: 30vh;
    outline: none;
    padding: 1em;
}

/*volunteer*/

.w_volunteer {
    background-color: var(--primary_blue);
    min-height: 50vh;
}

.w_volunteer_content {
    text-align: center;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/*Achievement so far*/
.w_achievement_card {
    text-align: center;
    padding: 1.3em;
    box-shadow: 5px 10px 20px 0px rgb(19, 21, 36);
    border-radius: 20px;
    width: 100%;

}

.w_achievement_card h2 {
    font-size: 25px;
    margin: 0 !important;
}

.w_achievement_img{
    width: 200px;
    margin: 0 auto;
}

.w_achievement_img img{
    width: 100%;
}

/*events*/
.w_events{
    min-height: 50vh;
    background-color: #f5f5f5;
}

.w_events_inner{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    padding: 0 1em;
    text-align: center;
}

/*faq*/
.w_faq,
.accordion {
    background-color: var(--primary_blue);
    color: #fff;
}

.accordion {
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: all ease 0.4s;
}

 
.active, .accordion:hover {
    background-color: #2b62c5;
}
  
  .accordion:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
	font-size: 20px;

  }
  
  .active:after {
	content: "\2212";
  }
  
  .faq_answer {
	padding: 0 28px;
	max-height: 0;
	color: #ffff;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }

  .faq_answer p{
	font-size: 16px;
    padding: 12px;
  }

  /*testimonial*/
.testimonial{
    min-height: 60vh;
}

.testimonial_content{
      margin: 0 auto;
      padding: 3em;
      text-align: center;
      width: 70%;
}


@media screen and (max-width: 950px) {
    .section_padding {
        padding-left: 1em;
        padding-right: 1em;
    }

    h2{
        font-size: 27px;
    }

    .nav_link_holder{
        display: none;
    }

    .open_btn{
        display: block;
    }

    .w_hero_content h1 {
        font-size: 40px;
    }

    .w_send {
        width: 100%;
    }

    .w_volunteer_content h2 {
        font-size: 20px;
    }

    .testimonial_content{
        width: 100%;
        padding: 1em;
    }
}